<!DOCTYPE html>
<html xmlns:th="http://www.thumeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Error</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/script/myscript.js"></script>
</head>
<body>
	<div layout:fragment="pageContent">
		<!-- <div class="container">
			<h3 class="mx-auto mt-5" style="width: 400px;">Vous n'êtes pas autorisé</h3>
		</div> -->
		<div class="container">
			<h1>
				4
				<div class="lock">
					<div class="top"></div>
					<div class="bottom"></div>
				</div>
				3
			</h1>
			<p>Access denied</p>
		</div>
	</div>
</body>
</html>